<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-logo">
        <img
          src="{{ Assets.Logo }}"
          alt="Easybank Logo"
          class="text-white"
          fill="white"
        />
        <div class="social-icons">
          <a href="#"><i class="fa-facebook-f fab"></i></a>
          <a href="#"><i class="fa-twitter fab"></i></a>
          <a href="#"><i class="fa-youtube fab"></i></a>
          <a href="#"><i class="fa-pinterest fab"></i></a>
          <a href="#"><i class="fa-instagram fab"></i></a>
        </div>
      </div>

      <div class="footer-links">
        <div class="link-group">
          <a href="#">About Us</a>
          <a href="#">Contact</a>
          <a href="#">Blog</a>
        </div>
        <div class="link-group">
          <a href="#">Careers</a>
          <a href="#">Support</a>
          <a href="#">Privacy Policy</a>
        </div>
      </div>
      <div></div>
      <div class="footer-cta">
        <button class="btn-invite">Request Invite</button>
        <p>© Easybank. All Rights Reserved</p>
      </div>
    </div>
  </div>
</footer>
