<!-- الخلفية خارج الكونتينر -->
<div class="bgWrapper"></div>

<!-- الكونتينر الأساسي -->
<div class="container vh-100 d-flex flex-column-reverse flex-lg-row align-items-center landingPage">
  <div class="col-12 col-lg-6 order-lg-1 text-center text-lg-start left">
    <h1 class="title">Next generation digital banking</h1>
    <p class="description">
      Take your financial life online. Your Easybank account will be a one-stop-shop for spending, saving, budgeting, investing, and much more.
    </p>
    <button class="btn-gradient">Request Invite</button>
  </div>

  <div class="col-12 col-lg-6 order-lg-2 position-relative text-center right">
    <img src="{{ Assets.ImageMockups }}" class="img-fluid mockup-img" alt="Mockups" />
  </div>
</div>
